.countainer-c{
    padding-left: 42px;
}

.search-result{
    margin-top: 24px;
    p{
      font-size: 24px;
    }
}

.search-label{
    margin: 8px 8px 24px 0px;
    display: flex;
    width: 128px;
    height: 35px;
    button{
       display: none;
    }
}

.label-1 {
    display: flex;
    margin-right: 8px;
    padding: 8px 18px 8px 16px;
    border: 1px solid $f2eW1-second;
    border-radius: 100px;
    color: $f2eW1-second;
    p {
        font-style: italic;
    }
    i {
        padding-left: 8px;
    }
    &:hover {
        background-color: $f2eW1-second;
        color: $f2eW1-seventh;
    }
}

.card{
   ul{
       padding: 0;
       li{
           display: flex;
           margin-bottom: 24px;
       }
   }
}

.card-img{
    width: 220px;
    height: 220px;
}


.card-info{
    margin-right: 40px;
    padding-left: 20px;
    background-color: $f2eW1-seventh;
    .card-content{
        h3{
            margin: 24px 0 16px 0;
            font-size: 24px;
            line-height: 36px;
            color: $f2eW1-second;
        }
        p{
            line-height: 24px;
            max-height: 25px;
            overflow: hidden;
        }
    }
    &:hover {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
    }
}


.item{
    display: flex;
    padding: 16px 0;
    .p1{
        font-weight: 600;
        padding: 3px 20px 2px 0;
    }
    .p2{
        padding: 3px 16px 2px 16px;
        border-radius: 100px;
        font-style: italic;
        color: $f2eW1-seventh;
        background: #D7D7D7;
        font-weight: inherit;
    }
}

.city-icon{
    display: flex;
    padding-bottom: 24px;
    i{
        padding-right: 7px;
    }
    p{
        padding-right: 20px;
        color: $f2eW1-sixth;
    }
    .mark{
        display: flex;
    }
    .cal{
        display: flex;
    }
}


@media(max-width:768px) {
    .countainer-c {
        padding: 0;
    }
    .card {
        li {
            flex-direction: column;
        }
    }
    .card-img {
        width: 388px;
        height: 196px;
    }
    .card-info {
        width: 388px;
        height: 230px;
        .card-content {
            p {
                width: 348px;
                height: 45px;
                overflow: hidden;
            }
        }
        .city-icon {
            flex-direction: column;
            .cal {
                padding-top: 8px;
            }
        }
    }
}


@media(max-width:414px){
    .card{
        padding: 25px 40px;
    }
    .search-label{
        display: none;
    }
    .search-result{
        display: none;
    }
    .card-img {

        img{
            width: 334px;
            height: 196px;
        }
    }

    .card-info {
        width: 334px;
        height: 230px;
          .card-content {
              p {
                  width: 271px;
                  height: 45px;
                  overflow: hidden;
              }
          }
   }
}