
.page{
        float: right;
        margin-right: 40px;
    ul{
        display: flex;
        padding: 0;
        text-align: center;
        line-height: 2.5;
        li{
            width: 41px;
            height: 42px;
            border: 1px solid $f2eW1-ninth;
            background-color: $f2eW1-seventh;
            color: $f2eW1-second;
        }
         .bg {
             background-color: $f2eW1-second;
             color : $f2eW1-seventh;
    }
  }
}

.num:hover {
    background-color: $f2eW1-ninth;
}

@media(max-width:768px){
     .page {
        float: right; 
        margin: 0 ;
     }
}


@media(max-width:414px){
    .page{
        margin: 0 66px;
    }
}