
#header{
    background-color: $f2eW1-first;
}
.countainer-h {
    padding: 30px 78px 24px 55px;
    background-color: $f2eW1-first;
    img{
        margin: 0 auto;
        width: 157px;
    }
}


#header2{
    background-color: $f2eW1-first;
    i{
       color: $f2eW1-seventh;
    }
}

.searchBar {
        margin: 37px 42px;
        border-bottom: 2px solid $f2eW1-seventh;
        width: 388px;
    button{
      display: none;
    }
    .search{
        padding-left: 10px;
        input{
                width: 350px;
                height: 24px;
                outline: none;
                font-style: oblique;
                border-style: none;
                border-color: $f2eW1-first;
                background-color: $f2eW1-first;
                line-height: 2;
                &::-webkit-input-placeholder{
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 20px
                }
        }
    }
}

@media(max-width:768px){
    .countainer-h {
        padding: 30px 78px 24px 40px;
        img {
            margin: 0 ;
        }
    }
    .searchBar {
        margin: 37px 0;
    }      
}

@media(max-width:414px) {
    #header2 {
        background-color: $f2eW1-fourth;
        i {
            color: $f2eW1-eighth;
        }
    }
    .countainer-h {
        padding: 30px 78px 24px 78px;
        img {
            margin: 0 auto;
        }
    }
    .searchBar {
            margin: 0 auto;
            padding-top: 14px;
            border-bottom: 2px solid $f2eW1-eighth;
        .search{
            input {
                background-color: $f2eW1-fourth;
                  &::-webkit-input-placeholder {
                      color: $f2eW1-sixth;
                      font-size: 20px
                  }
            }
        }
    }
}