.title{
    margin: 0 auto;
    text-align: center;
    color: $f2eW1-first;
    font-style: italic;
    background-color: $f2eW1-second;
    max-width: 1024px;
    height: 72px;
    line-height: 72px;
}