extends _layout.jade

block chapter1
  #header
    .title
      h1 Comicomic


  #navbar
     .countainer
        .col-8
          a(href="_index.html") My Hexschool
          <i class="fas fa-play"></i>
          select(name="chapter")
            option(value="c1") Chapter 1
            option(value="c2") Chapter 2
          select(name="chapter")
            option(value="p1") Page 01
            option(value="p2") Page 02
            option(value="p3") Page 03
            option(value="p4") Page 04
            option(value="p5") Page 05
            option(value="p6") Page 06
            option(value="p7") Page 07
            option(value="p8") Page 08
            option(value="p9") Page 09
            option(value="p10") Page 10
            option(value="p11") Page 11
            option(value="p12") Page 12
        .col-4
          <i class="fas fa-sun"></i>
          .block
          <i class="far fa-moon"></i>
        




  #content
    .countainer
      incon
      img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="none")
      icon
      .row
       icon
       ul.pageItem 
         li
          small.pageNum 01
          img(src="", alt="none")
         li
          small.pageNum 02
          img(src="", alt="none")
         li
          small.pageNum 03
          img(src="", alt="none")
         li
          small.pageNum 04
          img(src="", alt="none")
         li
          small.pageNum 05
          img(src="", alt="none")
         li
          small.pageNum 06
          img(src="", alt="none")
         li
          small.pageNum 07
          img(src="", alt="none")
         li
          small.pageNum 08
          img(src="", alt="none")
         li
          small.pageNum 09
          img(src="", alt="none")
         li
          small.pageNum 10
          img(src="", alt="none")
         li
          small.pageNum 11
          img(src="", alt="none")
         li
          small.pageNum 12
          img(src="", alt="none")
      icon