extends _layout.jade

block header
  #header
    .countainer-h
      h1 Comicomic
      
    
block content 
  #content
    .countainer
       .row
         .col-6.img
           img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/comic%20cover.png", alt="none")
         .col-6.hexschool
           h2 MY HEXSCHOOL
           .genres 
            p Genres
            p Fusce/vehicula/dolor
           .author
            p Author
            p Namae Shiranai
           .status 
            p Status
            p Ongoing
           .rate
            p Rate
            ul.star
             li <i class="fas fa-star"></i>
             li <i class="fas fa-star"></i>
             li <i class="fas fa-star"></i>
             li <i class="fas fa-star"></i>
             li <i class="far fa-star"></i>
           .summary
            p Summary
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, illum veniam hic earum est officia perferendis repudiandae quam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate ratione obcaecati laborum pariatur quam laudantium esse exercitationem culpa soluta totam cumque, dolorum quia, voluptates, id consequuntur laboriosam!


block footer
  #footer
    .countainer-f
     .chapters
       p All Chapters
       ul.page
        li Chapter 1: The F2E Challenge Start!
        li Chapter 2: Todo List Going Crazy!
       .mark NEW
        
    



        
    